body{
	background-color: #f8f2ec;
}
legend{
	font-size: 30px; 
}
h1{
	font-size: 5vw;
	color: #333745;
	text-align: center;
}
.container{
	width: 99%;
	height: 100%;
	margin: 0 auto;
	max-width: 1000px;
}

.lateral-izquierda{
	display: inline-block;
	width: 40%;
	vertical-align: top;
}
label{
	display: block;
	padding: 10px;
	font-size: 20px; 
}
input{
	display: block;
	padding: 10px;
	margin-left: 10px;
	margin-top: 10px;
	width: 80%;
}
select{
	display: inline-block;
	padding: 10px;
	margin-left: 10px;
	margin-top: 10px;
	width: 90%;
}

.radioBut{
	width: auto;
}

.lateral-derecha{
	display: inline-block;
	width: 50%;
	float: right;
}


.lateral-derecha label{
	display: inline-block;
}
.inlineBlock{
	display: inline-block;
}
#cif{
	display: block;
}
#calle{
	display: block;
}

.lateral-derecha input{
	width: 350px;
}
.boton{
	width: 46%;
	display: inline;
}
#field{
	width: 800px;
}
#botones{
	width: 800px;
	text-align:center;
}
/****************************************************************************************
***************************************************************************************
***************TABLA COMPLETA ********************************************************
***********************************************************************************/
.datagrid table { 
	border-collapse: collapse; 
	text-align: left; 
	width: 100%; 
} 
	
.datagrid {
	font: normal 12px/150% Arial, Helvetica, sans-serif; 
	background: #fff; overflow: hidden; border: 2px solid #006699;
	 -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}
.datagrid table td, .datagrid table th { 
	padding: 3px 10px; 
}

.datagrid table thead th {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
	background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
	background-color:#006699; color:#FFFFFF; 
	font-size: 15px; 
	font-weight: bold; border-left: 1px solid #0070A8; 
	} 
	.datagrid table thead th:first-child {
		 border: none; 
	}
		
	.datagrid table tbody td { 
		color: #00557F; 
		border-left: 1px solid #E1EEF4;
		font-size: 12px;font-weight: normal; 
	}
		
	.datagrid table tbody .alt td { 
		background: #E1EEf4; color: #00557F; 
	}

	.datagrid table tbody td:first-child { 
		border-left: none; 
}

.datagrid table tbody tr:last-child td {
 border-bottom: none;
  }



/*************************************************************
*************************************************************
**************** Botón Atrás m_tablaVerPedido.php***********
*************************************************************/

#botonAtras{
	width: 20%;
	display: inline;
}



/*************************************************************
*************************************************************
**************** Select de la tabla m_ListaProveedorR***********
*************************************************************/
.selectSector{
	width: 15%;
}





/*************************************************************
*************************************************************
**************** Subtítulo del restaurante o Proveedor de
**************** las páginas con tablas********************** 
*************************************************************/
h3{
	font-size: 3vw;
	color: #333745;
	text-align: left;

}


/**********************************************************
************************************************************
******************Tabla m_enviarPedidoFinal.php**********
**********************************************************/

.tablaPedidoFinal{
	border-collapse: separate; 
	font-family:Sans-Serif;
    font-size: 12px;    
    margin: 45px;    
    width: 480px; 
    text-align: left;    
 
}


.tdTablaPedidoFinal {   
 padding: 8px;     
 border-bottom: 1px solid #fff;
 color: #669; 
 
 
}

.trTablaPedidoFinal{
	background: #e8edff;
}