body{
	background-color: #f8f2ec;
}
.container{
	width: 99%;
	height: 100%;
	text-align: center;
	margin: 0 auto;
}
/*******************************************************/
/******************Headder******************************/
/*******************************************************/
h1{
	
	font-family: 'Finger Paint', cursive;
	font-size: 5vw;
	position: absolute;
	top: -7%;
	left: 30%;
	color: #333745;
}
.header{
	width: 100%;
	
	position: relative;
}
#logoProveeme{
	width: 44vw;
}



/*******************************************************/
/******************Center******************************/
/*******************************************************/
.central{
	width: 90%; 

	max-width: 1200px;
	background-color: rgba(161, 124, 107,0.8);
	margin: 0 auto;
	border-radius: 41px 41px 41px 41px;
	box-shadow: 5px 5px 3px black;	
}
/******************Slide izquierda******************************/
h2{
	font-family: 'Kavoon', cursive;
	font-size: 3vw;
	margin-top: 0px;
	margin-bottom: 0px;
	color:#400009;
	text-align: left;
}
h3{
	font-family: 'Amarante', cursive;
	font-size: 2vw;
	margin-top: 0px;
	margin-bottom: 0px;
	color:#400009;
}
#primer-p{
	margin-bottom:40px; 
}

.lateral-izquierda{
	display: inline-block;
	width: 55%;
	vertical-align: middle;
	text-align: justify;
	padding: 15px;

}

.lateral-izquierda p{
	font-size: 20px;
}


/******************Slide derecha******************************/
.lateral-derecha{
	font-family: sans-serif;
	display: inline-block;
	color: #21232c;
	width: 33%;
	vertical-align: middle;
	text-align: center;
	max-width: 400px;
	padding-top: 10px;
	background-color: #CDC5B4;
	border-radius: 41px 41px 41px 41px;
	box-shadow: 5px 5px 3px black;
}
form{
	margin: 10px;
}
label + input{
	display: block;
	font-size: 15px;
	height: 35px;
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: 20px; 
	width: 90%;
}
.lateral-derecha label{
	font-size: 20px;

}
input[type="text"] {
  padding: 10px;
  border: solid 2px #551B14;
  box-shadow: inset 2px 2px 4px 0 #551B14;
  transition: box-shadow 0.3s;
}
input[type="password"] {
  padding: 10px;
  border: solid 2px #551B14;
  box-shadow: inset 2px 2px 4px 0 #551B14;
  transition: box-shadow 0.3s;
}

/*Css del boton submit del formulario*/
.myButton {
	box-shadow: 3px 4px 0px 0px #333745;
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #a17c6b;
	display:inline-block;
	cursor:pointer;
	color:#551b14;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #21232c;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}

.lateral-derecha p{
	padding: 3px;
}
.lateral-derecha p a{
	text-decoration:none;  
	color: #21232c; 
	font-size: 20px;
}

/*******************************************************/
/******************Footer******************************/
/*******************************************************/

.footer p{
	font-size: 15px;
	font-family: sans-serif;
	color: #21232c;
}

a{
	text-decoration:none;  
	color: #21232c; 
}

